{% extends 'base.html' %}

{% block body %}

<div class="container">

    <!-- Page Header -->
    <div class="row">
        <div class="col-lg-12">
          <h1 class="page-header">Catálogo
              <small>Conheça Nossos Produtos</small>
              <a class="btn btn-primary pull-right" href='{{ url_for('newCategory') }}'>Nova Categoria</a>
              <!-- <button  class="btn btn-primary ">Nova Categoria</button> -->
          </h1>
        </div>
    </div>
    <!-- /.row -->

    <!-- Projects Row -->
    <div class="row">
      {% for category in categories %}
      <div class="col-md-4 portfolio-item">
        <div class="thumbnail">
          <a href='{{ url_for('showItem', category_id = category.id) }}'>
              <img class="img-responsive" src="http://placehold.it/700x400" alt="">
          </a>
          <h3>
              <a href='{{ url_for('showItem', category_id = category.id) }}'>{{ category.category_name }}</a>
              <!-- <p class="pull-right"><h5><a href="#">Editar</a> <a href="#">| Deletar</a></h5><p> -->
          </h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>

              <div class="caption">
                  <!-- <p class="pull-right"><a href="#">Editar</a> <a href="#">| Excluir</a><p> -->
                    <a href='{{ url_for('editCategory', category_id = category.id) }}' type="button" class="btn btn-info btn-circle"><i class="fa fa-edit"></i></a>
                    <a href='{{ url_for('deleteCategory', category_id = category.id) }}' type="button" class="btn btn-primary btn-circle pull-right"><i class="fa fa-trash"></i></a>
              </div>
          </div>
      </div>
      {% endfor %}


    <!-- Pagination -->
    <!-- <div class="row text-center">
        <div class="col-lg-12">
            <ul class="pagination">
                <li>
                    <a href="#">&laquo;</a>
                </li>
                <li class="active">
                    <a href="#">1</a>
                </li>
                <li>
                    <a href="#">2</a>
                </li>
                <li>
                    <a href="#">3</a>
                </li>
                <li>
                    <a href="#">4</a>
                </li>
                <li>
                    <a href="#">5</a>
                </li>
                <li>
                    <a href="#">&raquo;</a>
                </li>
            </ul>
        </div>
    </div> -->
    <!-- /.row -->


</div>
<!-- /.container -->



{% endblock %}
