{% extends 'base.html' %}

{% block body %}
<div id="wrapper">
  <div id="page-wrapper">
      <div class="row">
          <div class="col-lg-12">
              <h1 class="page-header">Criar Conta</h1>
          </div>
          <!-- /.col-lg-12 -->
      </div>
      <!-- /.row -->
      <div class="row">
          <div class="col-lg-12">
              <div class="panel panel-default">
                  <div class="panel-heading">
                      Criando uma nova conta
                  </div>
                  <div class="panel-body">
                      <div class="row">
                          <div class="col-lg-6">
                            <form role="form" action='{{ url_for('new_user') }}' method='POST'>
                                <div class="form-group">
                                    <label>Nome completo</label>
                                    <input class="form-control validate" placeholder="Nome completo" id='name' name='name'>
                                </div>
                                <div class="form-group">
                                    <label>E-mail</label>
                                    <input class="form-control validate" placeholder="seu_email@email.com" id='email' name='email'>
                                </div>
                                <div class="form-group">
                                    <label>Confirmar E-mail</label>
                                    <input class="form-control validate" placeholder="Digite o email novamente" id='confirma_email' name='confirma_email'>
                                </div>
                                <div class="form-group">
                                    <label>Senha</label>
                                    <input class="form-control validate" placeholder="***********" id='password' name='password'>
                                </div>
                                <div class="form-group">
                                    <label>Confirmar Senha</label>
                                    <input class="form-control validate" placeholder="Digite a senha novamente" id='confirma_password' name='confirma_password'>
                                </div>
                                <button type="submit" class="btn btn-primary">Criar Conta</button>
                                <a class="btn btn-default" href='#'>Cancelar</a>
                            </form>
                          </div>
                      </div>
                      <!-- /.row (nested) -->
                  </div>
                  <!-- /.panel-body -->
              </div>
              <!-- /.panel -->
          </div>
          <!-- /.col-lg-12 -->
      </div>
      <!-- /.row -->
  </div>
  <!-- /#page-wrapper -->
</div>
<!-- /#wrapper -->
{% endblock %}
